body {
    background-color: #7fcd91;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: #7fcd91;
    text-align: center;
    background-color: #4d4646;
}

h2 {
    color: #7fcd91;
    font-family: 'Indie Flower', cursive;
    font-size: 1.75rem;
    text-align: center;

}

/* Text box contents  */
.text-box {
    margin: 10rem auto;
    height: 30rem;
    width: 35rem;
    background-color: #5b5656;
    border: 8px;
    border-style: groove;
    border-color: #f5eaea;
}

.checkBoxes,
#char-count,
#char-count-box {
    margin-left: 10px;
}

label {
    font-family: 'Lemonada', cursive;
    color: #f5eaea;
}

#submit-button, #clipboardBtn {
    position: relative;
    top: 50%;
    left: 30%;
    color: #5b5656;
    font-family: 'Lemonada', cursive;
    font-weight: bolder;
    background-color: #7fcd91;
    border-color: #f5eaea;
}

#clipboardBtn{
    margin-top: 10px;
}

.pass-output {
    background-color: white;
    height: 6rem;
    width: auto;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    border: 1px;
    border-style: solid transparent;
    overflow-wrap: break-word;
}