body {
    background-color: #2d5980;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #7ac142;
    text-align: center;
    background-color: #002a5c;
    font-size: 4rem;
}

h2 {
    color: #b2b7bb;
    font-family: 'Oswald', sans-serif;
    font-size: 1.75rem;
    text-align: center;

}

/* Text box contents  */
.text-box {
    margin: 3.5rem auto;
    height: 33rem;
    width: 35rem;
    background-color: #002a5c;
    border: 8px;
    border-style: groove;
    border-color: #7ac142;
    
}

@media (max-width: 768px){
    .text-box {
        margin: 2rem auto;
        height: 33rem;
    }

    h1{
        font-size: 2.5rem;
    }
}

.checkBoxes,
#char-count,
#char-count-box {
    margin-left: 1.5rem;
}

label {
    font-family: 'Oswald', sans-serif;
    color: #7ac142;
    font-size: 1.25rem;
}

#submit-button, #clipboardBtn {
    position: relative;
    top: 55%;
    left: 35%;
    color: #7ac142;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 1.25rem;
    background-color: #2d5980;
    border-color: #b2b7bb;
    margin-top: 1rem;
}

#submit-button:hover{
    background-color: #f5eaea;
}

#submit-button:active{
    background-color: #7ac142;
    box-shadow: 0 5px #b2b7bb;
    transform: translateY(4px);
}

#clipboardBtn{
    margin-top: 10px;
}

#clipboardBtn:hover{
    background-color: #f5eaea;
}

#clipboardBtn:active{
    background-color: #7ac142;
    box-shadow: 0 5px #b2b7bb;
    transform: translateY(4px);
}
.pass-output {
    background-color: white;
    height: 5rem;
    width: auto;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border: 1px;
    border-style: solid transparent;
    overflow-wrap: break-word;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #002a5c;
    color: #7ac142;
    text-align: center;
    padding: 10px 0;
    font-family: 'Indie Flower', cursive;
  }

  @media (min-width: 1550px){
      footer{
          position: fixed;
      }
  }

  .gitHub{
      width: 3%;
  }